.recipe-box{
    background-color: #ddd !important;
}
.card {
    background-color: #ddd !important;
}
h5 {
    color: #000000;
}
.comentarios {
    color: #ededed;
}
.form-label{
    color: #ddd !important;
}